/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

[class$="api-load-alpha-banner"] {
  display: none;
}

.dashboard{
  background-color: rgba(61, 61, 61, 0.8);
  padding: 5px;
  border: 1px solid #00c895;
  color: white;
}

#curt-status {
  position: absolute;
  bottom: 32px;
  left: 10px;
  z-index: 98;
}

#curt-status table{
  color: white;
  font-family: Roboto, sans-serif;
}

#solace-header {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 98;
}

#solace-header td {
  text-align: center;
  font-family: Roboto, sans-serif;
  color: white;
}

.header-title {
  font-size: medium;
  font-weight: bolder;
  line-height: 0;
}
.header-sub-title {
  font-size: smaller;
}

#filtering {
  position: absolute;
  top: 310px;
  left: 10px;
  z-index: 98;
  font-family: Roboto, sans-serif;
}

#filtering table {
  color: white;
  font-family: Roboto, sans-serif;
}

#real-time-topics {
  position: fixed;
  bottom: 10px;
  left: 50%;
  z-index: 101;
  margin-left: -450px;
}

.topic-string {
  font-family: Monaco, "Lucida Console", monospace;
  font-size: small;
  color: #aaa;
}

.topic-app {
  color: #5f5;
}
.topic-ver {
  color: #58f;
}
.topic-route {
  color: #ff0;
}
.topic-vehType {
  color: #f5f;
}
.topic-vehID {
  color: #ffdb55;
}
.topic-lat,
.topic-lng {
  color: #f71;
}
.topic-dir {
  color: #0ff;
}
.topic-status {
  color: #fff;
}
